      <h2>About Us</h2>

      <p>Established in the 10th Century, Hogwarts is considered to be one of the finest
         magical institutions in the wizarding
         world taking students from the United Kingdom and Ireland. 
         <br>The school is located in the Highlands of Scotland although
          the exact location of our castle cannot be revealed 
          for muggle security reasons.
        </p>

        <p>
          Welcome to Hogwarts School of Witchcraft and Wizardry. Established in the
10th Century, Hogwarts is considered to be one of the finest magical
institutions in the wizarding world taking students from the United
Kingdom and Ireland.
<br>
The school is located in the Highlands of Scotland although the exact
location of our castle cannot be revealed for muggle security reasons.
We provide extensive grounds and facilities for the children including
sloping lawns, flowerbeds and vegetable patches, a loch (called the Black
Lake), a large dense forest (called the Forbidden Forest), several greenhouses
and other outbuildings, and a full-size Quidditch Pitch. There is also an
owlery, which houses all the owls owned by the school as well as those owned
by students.
<br>
</p>
<h2>Contents:</h2>
<p>Page 2: <a href="#values">Our Values</a></p>
<p>Page 3: <a href="#history">History of Hogwarts</a></p>
<p>Page 4-5: <a href="#routine">Daily Routine</a></p>
<p>Page 6-9: <a href="#subjects">Subjects for First Years</a></p>
<p>Page 10: <a href="#sports">Sports</a></p>
<p>Page 11-14: <a href="#houses">Houses</a></p>
      
      